Backend/bin/Debug/net8.0/NoteApp.deps.json
Backend/bin/Debug/net8.0/NoteApp.dll
Backend/bin/Debug/net8.0/NoteApp.exe
Backend/bin/Debug/net8.0/NoteApp.pdb
Backend/bin/Debug/net8.0/NoteApp.staticwebassets.runtime.json
Backend/obj/NoteApp.csproj.nuget.dgspec.json
Backend/obj/NoteApp.csproj.nuget.g.props
Backend/obj/NoteApp.csproj.nuget.g.targets
Backend/obj/project.assets.json
Backend/obj/project.nuget.cache
Backend/obj/Debug/net8.0/apphost.exe
Backend/obj/Debug/net8.0/NoteApp.assets.cache
Backend/obj/Debug/net8.0/NoteApp.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/NoteApp.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net8.0/NoteApp.csproj.FileListAbsolute.txt
Backend/obj/Debug/net8.0/NoteApp.dll
Backend/obj/Debug/net8.0/NoteApp.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/Debug/net8.0/NoteApp.genruntimeconfig.cache
Backend/obj/Debug/net8.0/NoteApp.pdb
Backend/obj/Debug/net8.0/NoteApp.sourcelink.json
Backend/obj/Debug/net8.0/staticwebassets.build.json
Backend/obj/Debug/net8.0/staticwebassets.development.json
Backend/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.NoteApp.props
Backend/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.NoteApp.props
